// custom poke colors 
$lightyellow:#ffcb05;
$darkyellow: #c7a008;
$lightblue:#448fd5;
$medblue:#2a75bb;
$darkblue:#3c5aa6;
$poke-red:#f00000;
$poke-white:#f0f0f0;
$poke-black:#222224;

// Pokemon GameBoy font
@font-face {
    font-family: "Pokemon GB";
    src: url(Pokemon_GB.ttf);
}

// PokeBox Mixin
@mixin pokebox {
    border-radius: 5px;
    padding: 8px;
    font-family: "Pokemon GB", Arial, sans-serif;
    background: rgb(244, 244, 244);
    box-shadow: 
    0 0 0 3px $poke-black
    ,0 0 0 6px #fff
    , 0 0 0 10px $poke-black;
}


////// GENERAL STYLING /////////////////////////
* {
    box-sizing: border-box;
}


button {
    @include pokebox();
    max-width: 300px;
    margin: 25px auto;
    font-size: 1rem;
    text-align: center;
}

.invalid {
    outline: #f00000;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #66aeed;
    font-family: sans-serif;

    input {
        font-size: 1rem;
        padding: 5px;
    }

    select {
        text-align-last: center;
    }


    form {
        display: flex;
        justify-content: center;

        .input,
        select {
            margin: 20px 0;
            width: 250px;
            padding: 8px 12px;
            background-color: $poke-white;
            font-size: 1rem;
        }
    }

    ////// TOP NAVBAR /////////////////////////

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        img {
            max-width: 320px;
        }

        button {
            height: 35px;
            display: flex;
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }

        ////// START PAGE /////////////////////////
        .main {
            max-width: 1024px;
            min-height: 100%;
            margin: 0 auto;
            background-image: url("water_background2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
    
            .start-logo {
                max-width: 400px;
                display: block;
                margin: 0 auto;
            }
    
            .bg-gradient {
                background: linear-gradient( rgb(245, 250, 255) 50%, rgba(68, 143, 213, 0.5) );
                background-repeat: no-repeat;
                height: 100%;
            }
    
            .grant {
                height: 350px;
                display: block;
                margin: 0 auto;
            }
            .start {
                display: flex;
                width: 100%;
                flex-direction: column;
                //switch to row for tablet and desktop
                justify-content: center;
                align-items: center;
    
                .pokeBox {
                    max-width: 600px;
                }
    
               
                .pokeBox, button {
                    font-size: 1rem;
                    margin: 25px;
                    font-family: "Pokemon GB", Arial, sans-serif;
                    padding: 8px;
                    background: rgb(244, 244, 244);
                    border-radius: 5px;
                    box-shadow: 
                    0 0 0 3px $poke-black
                    ,0 0 0 6px #fff
                    , 0 0 0 10px $poke-black
                }
    
    
                .btnContainer {
                    margin: 0 auto;
                    display: flex;
                    
                }
    
                button {
                    cursor: pointer;
                    margin-top: 10px;
                }
                .pulse:hover {
                    animation: pulse 1000ms infinite;
                }
            }
        }

        ////// QUIZ COMPONENT /////////////////////////
        .quiz {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1024px;
            padding: 20px;
    
            .answers {
    
                label {
                    border: 1px solid black;
                    cursor: pointer;
                }
            }
    
            .start-logo {
                max-width: 400px;
                margin: 25px;
            }
            
            .trainer-name {
                border: none;
                border-bottom: 2px solid $poke-black;
                background: none;
            }
    
            h1 {
                margin: 0 auto;
                text-align: center;
            }
    
            ::placeholder {
              text-align: center;
            }
    
            form {
    
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: $poke-white;
    
                .answers {
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    label {
                        flex-basis: 50%;
                        padding-left: 20%;
                        text-align: left;
                        input {
                            margin: 10px;
                        }
                    }
                }
            }
    
    
    
    
            .pokeBox {
                max-width: 600px;
            }
    
           
            .pokeBox, button {
                font-size: 1rem;
                margin: 50px;
                font-family: "Pokemon GB", Arial, sans-serif;
                padding: 8px;
                background: rgb(244, 244, 244);
                border-radius: 5px;
                box-shadow: 
                0 0 0 3px $poke-black
                ,0 0 0 6px #fff
                , 0 0 0 10px $poke-black;
            }
    
            section {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center
            }
            button {
                // border-radius: 0;
            }
        }

    ////// TRAINER COMPONENT  /////////////////////////

    .trainer-header {

        font-family: 'Jura', sans-serif;
        font-weight: bolder;
        font-size: 32px;

        .trainer-info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 15px;
            font-size: 24px;
        }

        input {
            border: none;
            border-bottom: 2px solid $poke-black;
            background: none;
        }
        
        p {
            margin: 0;
        }

        div {
            display: flex;
            justify-content: center;
           flex-direction: column;
        }

        input {
            margin: 20px 20px;
        }
    }

    ////// POKESQUAD INDICATOR /////////////////////////
    .myPokemon {

        position: fixed;
        right: 0;
        top: 100px;
        background-color: $poke-white;
        z-index: 10;

        div {
            display: flex;
            flex-direction: column;
            div {
                width: 110px;
                height: 110px;
                position: relative;

                img {
                    position: absolute;
                }
                .caughtSprite {
                    width: 121px;
                    z-index: 10;
                    top: -7px;
                    left: -7px;
                    filter: drop-shadow(3px 2px 5px $poke-black);
                }
                .caughtPokemon {
                    max-width: 100px;
                    opacity: 0.7;
                }
            }
        }

    }

    ////// POKEDEX COMPONENT  /////////////////////////

    #pokedex {
       
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        .tada:hover {
            animation: tada 2000ms infinite;
        }
        .pokemon {
            min-height: 435px;
            width: 300px;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: space-around;
            margin: 20px; // border: 10px solid $lightyellow;
            // border-radius: 10px;
            padding: 10px 10px 5px 10px; // background-color: $lightblue;
            background: radial-gradient(circle at center, rgba(240, 240, 240, .5) 1%, white 60%);
            font-family: 'VT323', sans-serif;
            font-size: 1.5rem;
            box-shadow: 4px 0px 0 white, 0 4px 0 white, -4px 0 0 white, 0 -4px 0 white, 8px 0px 0 $lightyellow, 0 8px 0 $lightyellow, 8px 8px 0 $lightyellow, -8px 0 0 $lightyellow, 0 -8px 0 $lightyellow, -8px -8px 0 $lightyellow, 8px -8px 0 $lightyellow, -8px 8px 0 $lightyellow, 12px 0px 0 $lightyellow, 0 12px 0 $lightyellow, -12px 0 0 $lightyellow, 0 -12px 0 $lightyellow, 12px 0 8px $poke-black, 0 12px 8px $poke-black, 8px 8px 8px $poke-black;
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0;
                .icon-box {
                    width: 40px;
                    height: 40px;
                    background-color: $darkyellow;
                    border: 4px outset $lightyellow;
                    padding: 2px;
                    margin: 0;
                    .type-icon {
                        // filter: drop-shadow( 0px 0px 1px $poke-black);
                        background:$poke-white;
                        z-index: 5;
                    }
                }
                h3 {
                    margin: 0;
                    font-family: 'VT323', sans-serif;
                    font-size: 38px;
                }
                p {
                    margin: 0;
                }
            }
            img {
                width: 100%; // margin: 8px 0;
            }
            .bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 0;
                ul {
                    margin: 0;
                    padding: 0;
                }
                li {
                    list-style-type: none;
                    font-family: 'VT323', monospace;
                    font-size: 25px;
                }
                .catch {
                    width: 100px;
                    cursor: pointer;
                }
            }
        }
    }

    .battle-form {
        display: flex;
        justify-content: center;
        input {
            border-radius: 0;
            margin: 0 15px;
        }
    }
    .battleContainer {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
        .pokebattle {
            display: flex;
            flex-direction: column;
            width: 40%;
            .battle-sprite {
                max-width: 300px;
                height: 300px;
            }
            .trainer-info {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    nav {
        justify-content: space-between;
        flex-direction: row;

        button {
            height: 35px;
        }

        div {
            display: flex;
            flex-direction: row;
        }
    }
}