@font-face {
  font-family: "Pokemon GB";
  src: url(Pokemon_GB.ttf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border-radius: 5px;
  padding: 8px;
  font-family: "Pokemon GB", Arial, sans-serif;
  background: #f4f4f4;
  box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224;
  max-width: 300px;
  margin: 25px auto;
  padding: 15px;
  font-size: 1rem;
  text-align: center !important;
  cursor: pointer; }

.invalid {
  outline: #f00000; }

body {
  height: 100vh;
  margin: 0;
  background-color: #66aeed;
  font-family: sans-serif; }
  body input, body select {
    font-size: 1rem;
    padding: 5px;
    font-family: "Jura", sans-serif;
    color: #222224; }
  body ::placeholder {
    color: #222224; }
  body select {
    text-align-last: center; }
  body form {
    display: flex;
    justify-content: center; }
    body form .input,
    body form select {
      margin: 20px 0;
      width: 250px;
      padding: 8px 12px;
      background-color: #f0f0f0;
      font-size: 1rem; }
  body .nav {
    display: flex;
    margin: 30px 0 50px 0; }
    body .nav .pulse:hover {
      animation: pulse 1000ms infinite; }
  body .nav :nth-child(1) {
    order: 2; }
  body .nav :nth-child(2) {
    order: 1; }
  body .nav :nth-child(3) {
    order: 3; }
  body nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    body nav img {
      max-width: 320px; }
    body nav button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 200px; }
    body nav div {
      display: flex;
      flex-direction: column; }
  body .main {
    margin: 0 auto;
    background-image: url("water_background2.jpg");
    background-repeat: no-repeat;
    background-position-x: center; }
    body .main .start-logo {
      max-width: 320px;
      display: block;
      margin: 20px auto; }
    body .main .bg-gradient {
      background: linear-gradient(#f5faff 50%, rgba(68, 143, 213, 0.5));
      background-repeat: no-repeat;
      height: 100%;
      padding-top: 20px; }
    body .main .grant {
      height: 350px;
      display: block;
      margin: 0 auto; }
    body .main .start {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .main .start .pokeBox {
        max-width: 600px; }
      body .main .start .pokeBox, body .main .start button {
        font-size: 1rem;
        margin: 25px;
        font-family: "Pokemon GB", Arial, sans-serif;
        padding: 8px;
        background: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224; }
      body .main .start .btnContainer {
        margin: 0 auto;
        display: flex; }
      body .main .start button {
        cursor: pointer;
        margin-top: 10px; }
      body .main .start .pulse:hover {
        animation: pulse 1000ms infinite; }
  body .quiz {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px;
    background-color: #f5faff; }
    body .quiz .grant {
      position: absolute;
      height: 350px; }
    body .quiz h3 {
      margin-top: 20px;
      font-family: "Jura", sans-serif;
      font-size: 26px; }
    body .quiz input, body .quiz select {
      font-family: "Jura", sans-serif;
      font-size: 1.5rem; }
    body .quiz select {
      font-family: "Jura", sans-serif; }
      body .quiz select option {
        font-family: "Jura", sans-serif; }
    body .quiz .pulse:hover {
      animation: pulse 1000ms infinite; }
    body .quiz .multichoice {
      animation: bounceInRight 1000ms; }
    body .quiz .answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column; }
      body .quiz .answers label {
        position: relative;
        margin: 10px 0;
        font-family: "jura", sans-serif;
        font-size: 24px;
        flex-basis: 50%;
        padding-left: 40px;
        text-align: left; }
        body .quiz .answers label .radio {
          background-color: #eee;
          height: 25px;
          width: 25px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          border: 3px solid #222224; }
        body .quiz .answers label input {
          opacity: 0;
          cursor: pointer;
          position: absolute;
          margin: 10px; }
        body .quiz .answers label input:checked ~ .radio {
          background-color: #66aeed; }
    body .quiz form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
    body .quiz label:hover input ~ .radio {
      background-color: #ccc; }
    body .quiz .start-logo {
      max-width: 320px;
      margin: 25px; }
    body .quiz .trainer-name {
      border: none;
      border-bottom: 2px solid #222224;
      background: none; }
    body .quiz h1 {
      margin: 0 auto;
      text-align: center; }
    body .quiz ::placeholder {
      text-align: center; }
    body .quiz .pokeBox {
      font-size: 1rem;
      margin: 50px;
      font-family: "Pokemon GB", Arial, sans-serif;
      padding: 15px;
      background: #f4f4f4;
      border-radius: 5px;
      box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224;
      max-width: 600px; }
    body .quiz section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    body .quiz button .pulse:hover {
      animation: pulse 1000ms infinite; }
  body .trainer-header {
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0; }
    body .trainer-header h1 {
      color: #ffcb05;
      text-shadow: 0 0 40px #3c5aa6; }
    body .trainer-header .searchdiv {
      margin-top: 20px; }
      body .trainer-header .searchdiv input {
        font-size: 2rem; }
    body .trainer-header .trainer-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15px;
      font-size: 24px; }
    body .trainer-header input {
      border: none;
      border-bottom: 2px solid #222224;
      background: none;
      margin: 20px 20px; }
    body .trainer-header p {
      margin: 0; }
    body .trainer-header div {
      display: flex;
      justify-content: center;
      flex-direction: column; }
    body .trainer-header .finder {
      width: 275px; }
  body .myPokemon {
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #f0f0f0;
    z-index: 10;
    border-radius: 5px;
    padding: 8px;
    font-family: "Pokemon GB", Arial, sans-serif;
    background: #f4f4f4;
    box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224;
    border-right: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none; }
    body .myPokemon div {
      display: flex;
      flex-direction: column; }
      body .myPokemon div div {
        width: 110px;
        height: 110px;
        position: relative; }
        body .myPokemon div div img {
          position: absolute; }
        body .myPokemon div div .caughtSprite {
          width: 121px;
          z-index: 10;
          top: -7px;
          left: -7px;
          background: #f0f0f0; }
        body .myPokemon div div .caughtPokemon {
          max-width: 100px;
          opacity: 0.7; }
  body .top-bar form {
    display: flex;
    flex-direction: column; }
    body .top-bar form input {
      margin: 10px 25px; }
    body .top-bar form select {
      margin: 10px 25px; }
    body .top-bar form button {
      margin: 10px 25px; }
    body .top-bar form .pulse:hover {
      animation: pulse 1000ms infinite; }
  body #pokedex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
    body #pokedex .bounce {
      animation: bounce 1000ms; }
    body #pokedex .pokemon {
      min-height: 435px;
      width: 300px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: space-around;
      margin: 20px;
      padding: 10px 10px 5px 10px;
      font-family: 'VT323', sans-serif;
      font-size: 1.5rem;
      box-shadow: 4px 0px 0 white, 0 4px 0 white, -4px 0 0 white, 0 -4px 0 white, 8px 0px 0 #ffcb05, 0 8px 0 #ffcb05, 8px 8px 0 #ffcb05, -8px 0 0 #ffcb05, 0 -8px 0 #ffcb05, -8px -8px 0 #ffcb05, 8px -8px 0 #ffcb05, -8px 8px 0 #ffcb05, 12px 0px 0 #ffcb05, 0 12px 0 #ffcb05, -12px 0 0 #ffcb05, 0 -12px 0 #ffcb05, 12px 0 8px #222224, 0 12px 8px #222224, 8px 8px 8px #222224; }
      body #pokedex .pokemon .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0; }
        body #pokedex .pokemon .top .icon-box {
          width: 40px;
          height: 40px;
          background-color: #c7a008;
          border: 4px outset #ffcb05;
          padding: 2px;
          margin: 0; }
          body #pokedex .pokemon .top .icon-box .type-icon {
            filter: drop-shadow(0px 0px 1px #222224);
            z-index: 5; }
        body #pokedex .pokemon .top h3 {
          margin: 0;
          font-family: 'VT323', sans-serif;
          font-size: 38px; }
        body #pokedex .pokemon .top p {
          margin: 0; }
      body #pokedex .pokemon img {
        width: 100%; }
      body #pokedex .pokemon .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0; }
        body #pokedex .pokemon .bottom ul {
          margin: 0;
          padding: 0; }
        body #pokedex .pokemon .bottom li {
          list-style-type: none;
          font-family: 'VT323', monospace;
          font-size: 25px; }
        body #pokedex .pokemon .bottom .catch {
          width: 100px;
          cursor: pointer; }
  body .battle-form {
    display: flex;
    justify-content: center; }
    body .battle-form input {
      border-radius: 0;
      margin: 0 15px; }
  body .battleContainer {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto; }
    body .battleContainer .pokebattle {
      display: flex;
      flex-direction: column;
      width: 40%; }
      body .battleContainer .pokebattle .battle-sprite {
        max-width: 300px;
        height: 300px; }
      body .battleContainer .pokebattle .trainer-info {
        text-align: center; }
  body .fire {
    background: radial-gradient(circle at center, white 1%, #bf4848 60%); }
  body .grass {
    background: radial-gradient(circle at center, white 1%, #48bf64 60%); }
  body .water {
    background: radial-gradient(circle at center, white 1%, #488bbf 60%); }
  body .electric {
    background: radial-gradient(circle at center, white 1%, #bfa748 60%); }
  body .psychic {
    background: radial-gradient(circle at center, white 1%, #bf487c 60%); }
  body .flying {
    background: radial-gradient(circle at center, white 1%, #c6b5f9 60%); }
  body .poison {
    background: radial-gradient(circle at center, white 1%, #b548bf 60%); }
  body .ghost {
    background: radial-gradient(circle at center, white 1%, #9b48bf 60%); }
  body .rock {
    background: radial-gradient(circle at center, white 1%, #9b7e5f 60%); }
  body .ground {
    background: radial-gradient(circle at center, white 1%, #bf8048 60%); }
  body .normal {
    background: radial-gradient(circle at center, white 1%, #a0a0a0 60%); }
  body .dragon {
    background: radial-gradient(circle at center, white 1%, #48bfbd 60%); }
  body .fighting {
    background: radial-gradient(circle at center, white 1%, #bd751c 60%); }
  body .bug {
    background: radial-gradient(circle at center, white 1%, #48bf74 60%); }
  body .ice {
    background: radial-gradient(circle at center, white 1%, #86e3e9 60%); }

@media screen and (min-width: 768px) {
  start .main {
    max-width: 1024px;
    border-radius: 30px;
    box-shadow: 0 0 40px #222224; }
  start .bg-gradient {
    border-radius: 30px; }
  start .start-logo {
    min-width: 400px;
    max-width: 500px; }

  .nav {
    justify-content: space-between;
    flex-direction: row;
    padding: 20px; }
    .nav .start-logo {
      max-width: 500px; }
    .nav div {
      display: flex;
      flex-direction: column; }
    .nav .pulse:hover {
      animation: pulse 1000ms infinite; }

  .nav :nth-child(1) {
    order: 1; }

  .nav :nth-child(2) {
    order: 2 !important; }

  .nav :nth-child(3) {
    order: 3; }

  .quiz {
    border-radius: 30px;
    box-shadow: 0 0 40px #222224; }
    .quiz img.grant {
      display: inline-block;
      top: 260px;
      left: 30px; }
    .quiz .poke-guy {
      width: 200px;
      position: absolute;
      bottom: 10px;
      left: 10px; }

  .quiz img.start-logo {
    max-width: 550px; }

  section.trainer-header {
    max-width: 1024px;
    flex-direction: row;
    margin: 0 auto 20px auto;
    justify-content: space-evenly; }
    section.trainer-header div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    section.trainer-header .searchdiv input {
      margin: 20px;
      padding: 10px;
      padding-bottom: 5px; }
    section.trainer-header .searchdiv button {
      margin: 20px; }
    section.trainer-header .searchdiv .pulse:hover {
      animation: pulse 1000ms infinite; }

  .top-bar {
    margin: 20px 0; }
    .top-bar form {
      flex-direction: row;
      justify-content: center;
      align-items: center; } }
