@font-face {
  font-family: "Pokemon GB";
  src: url(Pokemon_GB.ttf); }
* {
  box-sizing: border-box; }

button {
  border-radius: 5px;
  padding: 8px;
  font-family: "Pokemon GB", Arial, sans-serif;
  background: #f4f4f4;
  box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224;
  max-width: 300px;
  margin: 25px auto;
  font-size: 1rem;
  text-align: center; }

.invalid {
  outline: #f00000; }

body {
  height: 100vh;
  margin: 0;
  background-color: #66aeed;
  font-family: sans-serif; }
  body input {
    font-size: 1rem;
    padding: 5px; }
  body select {
    text-align-last: center; }
  body form {
    display: flex;
    justify-content: center; }
    body form .input,
    body form select {
      margin: 20px 0;
      width: 250px;
      padding: 8px 12px;
      background-color: #f0f0f0;
      font-size: 1rem; }
  body nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    body nav img {
      max-width: 320px; }
    body nav button {
      height: 35px;
      display: flex; }
    body nav div {
      display: flex;
      flex-direction: column; }
  body .main {
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    background-image: url("water_background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center; }
    body .main .start-logo {
      max-width: 400px;
      display: block;
      margin: 0 auto; }
    body .main .bg-gradient {
      background: linear-gradient(#f5faff 50%, rgba(68, 143, 213, 0.5));
      background-repeat: no-repeat;
      height: 100%; }
    body .main .grant {
      height: 350px;
      display: block;
      margin: 0 auto; }
    body .main .start {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .main .start .pokeBox {
        max-width: 600px; }
      body .main .start .pokeBox, body .main .start button {
        font-size: 1rem;
        margin: 25px;
        font-family: "Pokemon GB", Arial, sans-serif;
        padding: 8px;
        background: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224; }
      body .main .start .btnContainer {
        margin: 0 auto;
        display: flex; }
      body .main .start button {
        cursor: pointer;
        margin-top: 10px; }
      body .main .start .pulse:hover {
        animation: pulse 1000ms infinite; }
  body .quiz {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px; }
    body .quiz .answers label {
      border: 1px solid black;
      cursor: pointer; }
    body .quiz .start-logo {
      max-width: 400px;
      margin: 25px; }
    body .quiz .trainer-name {
      border: none;
      border-bottom: 2px solid #222224;
      background: none; }
    body .quiz h1 {
      margin: 0 auto;
      text-align: center; }
    body .quiz ::placeholder {
      text-align: center; }
    body .quiz form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #f0f0f0; }
      body .quiz form .answers {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        body .quiz form .answers label {
          flex-basis: 50%;
          padding-left: 20%;
          text-align: left; }
          body .quiz form .answers label input {
            margin: 10px; }
    body .quiz .pokeBox {
      max-width: 600px; }
    body .quiz .pokeBox, body .quiz button {
      font-size: 1rem;
      margin: 50px;
      font-family: "Pokemon GB", Arial, sans-serif;
      padding: 8px;
      background: #f4f4f4;
      border-radius: 5px;
      box-shadow: 0 0 0 3px #222224, 0 0 0 6px #fff, 0 0 0 10px #222224; }
    body .quiz section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  body .trainer-header {
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 32px; }
    body .trainer-header .trainer-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15px;
      font-size: 24px; }
    body .trainer-header input {
      border: none;
      border-bottom: 2px solid #222224;
      background: none; }
    body .trainer-header p {
      margin: 0; }
    body .trainer-header div {
      display: flex;
      justify-content: center;
      flex-direction: column; }
    body .trainer-header input {
      margin: 20px 20px; }
  body .myPokemon {
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #f0f0f0;
    z-index: 10; }
    body .myPokemon div {
      display: flex;
      flex-direction: column; }
      body .myPokemon div div {
        width: 110px;
        height: 110px;
        position: relative; }
        body .myPokemon div div img {
          position: absolute; }
        body .myPokemon div div .caughtSprite {
          width: 121px;
          z-index: 10;
          top: -7px;
          left: -7px;
          filter: drop-shadow(3px 2px 5px #222224);
          background: #f0f0f0; }
        body .myPokemon div div .caughtPokemon {
          max-width: 100px;
          opacity: 0.7; }
  body #pokedex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; }
    body #pokedex .tada:hover {
      animation: tada 2000ms infinite; }
    body #pokedex .pokemon {
      min-height: 435px;
      width: 300px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: space-around;
      margin: 20px;
      padding: 10px 10px 5px 10px;
      background: radial-gradient(circle at center, rgba(240, 240, 240, 0.5) 1%, white 60%);
      font-family: 'VT323', sans-serif;
      font-size: 1.5rem;
      box-shadow: 4px 0px 0 white, 0 4px 0 white, -4px 0 0 white, 0 -4px 0 white, 8px 0px 0 #ffcb05, 0 8px 0 #ffcb05, 8px 8px 0 #ffcb05, -8px 0 0 #ffcb05, 0 -8px 0 #ffcb05, -8px -8px 0 #ffcb05, 8px -8px 0 #ffcb05, -8px 8px 0 #ffcb05, 12px 0px 0 #ffcb05, 0 12px 0 #ffcb05, -12px 0 0 #ffcb05, 0 -12px 0 #ffcb05, 12px 0 8px #222224, 0 12px 8px #222224, 8px 8px 8px #222224; }
      body #pokedex .pokemon .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0; }
        body #pokedex .pokemon .top .icon-box {
          width: 40px;
          height: 40px;
          background-color: #c7a008;
          border: 4px outset #ffcb05;
          padding: 2px;
          margin: 0; }
          body #pokedex .pokemon .top .icon-box .type-icon {
            z-index: 5; }
        body #pokedex .pokemon .top h3 {
          margin: 0;
          font-family: 'VT323', sans-serif;
          font-size: 38px; }
        body #pokedex .pokemon .top p {
          margin: 0; }
      body #pokedex .pokemon img {
        width: 100%; }
      body #pokedex .pokemon .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0; }
        body #pokedex .pokemon .bottom ul {
          margin: 0;
          padding: 0; }
        body #pokedex .pokemon .bottom li {
          list-style-type: none;
          font-family: 'VT323', monospace;
          font-size: 25px; }
        body #pokedex .pokemon .bottom .catch {
          width: 100px;
          cursor: pointer; }
  body .battle-form {
    display: flex;
    justify-content: center; }
    body .battle-form input {
      border-radius: 0;
      margin: 0 15px; }
  body .battleContainer {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto; }
    body .battleContainer .pokebattle {
      display: flex;
      flex-direction: column;
      width: 40%; }
      body .battleContainer .pokebattle .battle-sprite {
        max-width: 300px;
        height: 300px; }
      body .battleContainer .pokebattle .trainer-info {
        text-align: center; }

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
    flex-direction: row; }
    nav button {
      height: 35px; }
    nav div {
      display: flex;
      flex-direction: row; } }
